services:
  backend:
    image: monitor-backend:1.5.2
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    secrets:
      - nodes_config
      - ssh_password_remote1
      - ssh_password_remote2
    deploy:
      replicas: ${BACKEND_REPLICAS:-1}
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      labels:
        service: monitor-backend
    networks:
      - monitor-network

  frontend:
    image: monitor-frontend:1.2
    ports:
      - "8081:80"
    volumes:
      - ./app/frontend/index.html:/usr/share/nginx/html/index.html:ro
      - ./app/frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    deploy:
      replicas: ${FRONTEND_REPLICAS:-1}
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      labels:
        service: monitor-frontend
    networks:
      - monitor-network

networks:
  monitor-network:
    driver: overlay

secrets:
  nodes_config:
    external: true
  ssh_password_remote1:
    external: true
  ssh_password_remote2:
    external: true

